@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

html,
body {
  background: url("./assets/images/icon-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.My_planets {
  margin-top: 18%;
  color: white;
  text-align: center;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
  margin-left: 100px;
}

.mercury {
  height: 90px;
  width: 70px;
}
.venus {
  height: 110px;
  width: 90px;
}
.earth {
  height: 120px;
  width: 90px;
}
.mars {
  height: 90px;
  width: 60px;
}
.jupiter {
  height: 200px;
  width: 150px;
}

.saturn {
  height: 180px;
  width: 140px;
}
.uranus {
  height: 150px;
  width: 120px;
}
.neptune {
  height: 140px;
  width: 115px;
}

.sun {
  height: 400px;
  width: 320px;
  position: absolute;
  left: -100px;
  margin-right: 70px;
  top: 170px;
}
.planet {
  object-fit: contain;
}
