@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

html,
body {
  background: url("./assets/images/icon-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.My_planets {
  margin-top: 7%;

  color: white;
  text-align: center;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;

  margin-left: 100px;
}
.mercury {
  padding-top: 50px;
}
.venus {
  padding-bottom: 200px;
}
.earth {
  padding-top: 30px;
}
.mars {
  padding-top: 200px;
}
.jupiter {
  padding-bottom: 9px;
}
.saturn {
  padding-bottom: 300px;
}
.uranus {
  padding-top: 50px;
}
.neptune {
  padding-bottom: 200px;
}

.mercury img {
  height: 50px;
  width: 35px;
  animation-duration: 3s;
}
.venus img {
  height: 70px;
  width: 45px;
  animation-duration: 4s;
}
.earth img {
  height: 75px;
  width: 55px;
  animation-duration: 4s;
}
.mars img {
  height: 50px;
  width: 35px;
  animation-duration: 3s;
}
.jupiter img {
  height: 130px;
  width: 90px;
  animation-duration: 12s;
}

.saturn img {
  height: 105px;
  width: 80px;
  animation-duration: 8s;
}
.uranus img {
  height: 110px;
  width: 85px;
  animation-duration: 10s;
}
.neptune img {
  height: 105px;
  width: 80px;
  animation-duration: 9s;
}

.sun {
  height: 400px;
  width: 320px;
  position: absolute;
  left: -100px;
  margin-right: 70px;
  top: 170px;
}
.planet {
  object-fit: contain;
}

.floating {
  animation-name: floating;

  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    zoom: 40%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    zoom: 50%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    zoom: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    zoom: 80%;
  }
}
