@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

html,
body {
  background: url("./assets/images/icon-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.My_planets {
  margin-top: 7%;

  color: white;
  text-align: center;
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;

  margin-left: 100px;
}

.mercury {
  height: 50px;
  width: 35px;
}
.venus {
  height: 70px;
  width: 45px;
  padding-bottom: 150px;
}
.earth {
  height: 75px;
  width: 55px;
}
.mars {
  height: 50px;
  width: 35px;
}
.jupiter {
  height: 130px;
  width: 90px;
  padding-bottom: 9px;
}

.saturn {
  height: 105px;
  width: 80px;
  padding-bottom: 300px;
}
.uranus {
  height: 110px;
  width: 85px;
}
.neptune {
  height: 105px;
  width: 80px;
  padding-bottom: 200px;
}

.sun {
  height: 400px;
  width: 320px;
  position: absolute;
  left: -100px;
  margin-right: 70px;
  top: 170px;
}
.planet {
  object-fit: contain;
}
.text-mercury {
  padding-top: 170px;
}
.text-venus {
  padding-top: 50px;
}
.text-earth {
  margin-top: 70px;
}
.text-mars {
  margin-top: 230px;
}
.text-jupiter {
  margin-top: 10px;
}
.text-saturn {
  margin-top: 10px;
}
.text-uranus {
  margin-top: 140px;
}
.text-neptune {
  margin-top: 10px;
}
